<table>
    <tr>
        <div >
            <td> <img src="/assets/images/login page.png" style="margin-left: 0%; width: 180%; height:10%"></td>
            <td style="vertical-align:middle ; ">
                <div class="upev">
                <!-- <h3>Upcomming Booking festival:</h3>
                    <ul>
                       <li>Summer</li> 
                        <li>winter</li>
                        <li>sw</li>

                    </ul> -->
                </div>
            </td>
        </div>
    </tr>
</table>