<table>
    <tr>
        <div >
            <td> <img src="/assets/images/frontpage.gif" style="margin-left: 30%; width: 300px; height:300px ;"></td>
            <td style="vertical-align:middle ; ">
                <div class="upev">
                <h3>Upcomming Booking festival:</h3>
                    <ul>
                       <li>Summer</li> 
                        <li>winter</li>
                        <li>sw</li>

                    </ul>
                </div>
            </td>
        </div>
    </tr>
</table>