.addFlight{
    background-image:url("/assets/images/airplane2.jpg");
    background-size: cover;
    background-position:cover;
    font-size: medium;
    margin-left : 0.5%;
    width: 600%;
    
}

