<section style="background-image: url('assets/Images/flight: 1px;') ; "> 
    <table>
        <tr>
            <td>
                <h1 style="background-color:rgb(98, 160, 198) ;margin-left:0%; width:100%  ; color: aliceblue; text-align: center;"> Book your Flight</h1>
                <table>
                    <div class="doBooking">
                        <form (ngSubmit)="doFormSubmit()" #bookingForm="ngForm">
    
                            <table>
                                <tr>
                                    <div class="form-group" style="margin-top:10% ; justify-content :center;">
                                        <td ><label class = "form-label" style="font-weight: bolder;">
                                                <h3>Name:</h3>
                                            </label></td>
    
                                        <td class="name" ><input type="text" #name="ngModel" pattern="[a-zA-Z]+" [(ngModel)]="b.name"
                                                class="form-control" id="bName" name="bName" style="margin-left: 143px;" placeholder=" " required>
                                            <div *ngIf="name.invalid">
                                                <span style="color: red; margin-left: 143px;" *ngIf="name.errors?.['required']" >
    
                                                    Name is required Field
                                                </span>
                                                <span style="color: red; margin-left: 143px;" *ngIf="name.errors?.['pattern']">
                                                    Name is not valid
                                                </span>
                                            </div>
                                        </td>
                                    </div>
                                </tr>
                            </table>
    
                            <table>
                                <tr>
    
                                    <div class="form-group">
    
                                        <td><label>
                                                <h3>Enter Ticket Cost:</h3>
                                            </label></td>
                                        <td><input type="text" [(ngModel)]="b.ticketCost" class="form-control" id="bcost"
                                                name="bcost" #ticketCost="ngModel" style="margin-left: 43px;"   required min="200" max="8000">
                                            <div *ngIf="ticketCost.invalid">
                                                <span style="color: red;" *ngIf="ticketCost.errors?.['required']">
    
                                                    Ticket Cost is required Field
                                                </span>
                                                <span style="color: red;" *ngIf="ticketCost.errors?.['pattern']">
                                                    Ticket Cost is not valid
                                                </span>
                                            </div>
                                        </td>
                                    </div>
                                </tr>
                            </table>
    
                            <!-- <tr>
                                <td>
                                    <h3>No. Of Passenger</h3>
                                </td>
                                <td><input type="number" #numberOfPassenger="ngModel" [(ngModel)]="b.numberOfPassenger"
                                        name="numberOfPassenger" id="numberOfPassenger" required min="1" max="10" /></td>
                            </tr> -->
                            <table>
                                <tr>
    
                                    <div class="form-group">
    
                                        <td><label>
                                                <h3>No. Of Passenger:</h3>
                                            </label></td>
                                        <td><input type="number" [(ngModel)]="b.numberOfPassenger" class="form-control"
                                                id="numberOfPassenger" name="numberOfPassenger" #numberOfPassenger="ngModel"
                                                required min="1" max="15" style="margin-left: 48px;" placeholder="min 1 - max 15">
                                            <div *ngIf="numberOfPassenger.invalid">
                                                <span style="color: red;margin-left: 48px;" *ngIf="numberOfPassenger.errors?.['required']">
    
                                                    Number Of Passenger is required Field
                                                </span>
                                                <span style="color: red; margin-left: 48px;" *ngIf="numberOfPassenger.errors?.['pattern']">
                                                    Number Of Passenger is not valid
                                                </span>
                                            </div>
                                        </td>
                                    </div>
                                </tr>
                            </table>
    
                            <tr>
                                <td>
                                    <h3>Time of Booking:</h3>
                                </td>
                                <td><input type="time" #timeOfBooking="ngModel" [(ngModel)]="b.timeOfBooking"
                                        name="timeOfBooking"style="margin-left: 53px;" id="timeOfBooking" /></td>
                            </tr>
    
                            <table>
                                <tr>
                                    <div class="form-group">
                                        <td><label><b>
                                                    <h3>Arrival Time:</h3>
                                                </b></label></td>
                                        <td> <select #arrivalTime="ngModel" pattern="[a-zA-Z]+" [(ngModel)]="b.arrivalTime"
                                                class="form-control" id="barrivalTime"style="margin-left: 78px;" name="barrivalTime"
                                                placeholder="exp {2 PM,5Pm ,etc }" required>
                                                <option selected>Choose...</option>
                                                <option value="2 AM">2 AM</option>
                                                <option value="5 AM">5 AM</option>
                                                <option value="8 AM">8 AM</option>
                                                <option value="11 AM">11 AM</option>
                                                <option value="2 PM">2 PM</option>
                                                <option value="5 PM">5 PM</option>
                                                <option value="8 PM">8 PM</option>
    
                                            </select>
                                            <div *ngIf="arrivalTime.invalid">
                                                <span style="color: red;margin-left: 78px;" *ngIf="arrivalTime.errors?.['required']">
    
                                                    Source Airport is required Field
                                                </span>
    
                                            </div>
                                        </td>
                                    </div>
                                </tr>
                            </table>
    
                            <tr>
                                <td>
                                    <h3>Enter Date Of Booking:</h3>
                                </td>
                                <td><input type="date" #dateOfBooking="ngModel" [(ngModel)]="b.dateOfBooking"
                                        name="dateOfBooking" id="dateOfBooking" style="margin-left: -236px;" /></td>
                            </tr>
                            <tr>
                                <table>
                                    <tr>
                                        <div class="form-group">
                                            <td><label><b>
                                                        <h3>Source Airport:</h3>
                                                    </b></label></td>
                                            <td> <select #sourceAirport="ngModel" pattern="[a-zA-Z]+"
                                                    [(ngModel)]="b.sourceAirport" class="form-control" id="bSourceAirport" style="margin-left: 63px;"
                                                    name="bSourceAirport" placeholder="exp {like Pune, Mumbai }" required>
                                                    <option selected>Choose...</option>
                                                    <option value="Pune">Pune</option>
                                                    <option value="Mumbai">Mumbai</option>
                                                    <option value="Delhi">Delhi</option>
                                                    <option value="Goa">Goa</option>
                                                    <option value="Hyderabad">Hyderabad</option>
                                                    <option value="Banglore">Banglore</option>
                                                    <option value="Chennai">Chennai</option>
    
                                                </select>
                                                <div *ngIf="sourceAirport.invalid">
                                                    <span style="color: red;margin-left: 63px;" *ngIf="sourceAirport.errors?.['required']">
    
                                                        Source Airport is required Field
                                                    </span>
                                                    <span style="color: red;margin-left: 63px;" *ngIf="sourceAirport.errors?.['pattern']">
                                                        Source Airport is not valid
                                                    </span>
                                                </div>
                                            </td>
                                        </div>
                                    </tr>
                                </table>
                                <table>
                                    <tr>
    
                                        <div class="form-group">
                                            <td><label><b>
                                                        <h3>Destination Airport:</h3>
                                                    </b></label></td>
                                            <td><select #destinationAirport="ngModel" pattern="[a-zA-Z]+"
                                                    [(ngModel)]="b.destinationAirport" class="form-control" style="margin-left: 26px;"
                                                    id="bDestinationAirport" name="bDestinationAirport"
                                                    placeholder="exp {like Pune, Mumbai }" required>
                                                    <option selected>Choose...</option>
                                                    <option value="Pune">Pune</option>
                                                    <option value="Mumbai">Mumbai</option>
                                                    <option value="Delhi">Delhi</option>
                                                    <option value="Goa">Goa</option>
                                                    <option value="Hyderabad">Hyderabad</option>
                                                    <option value="Banglore">Banglore</option>
                                                    <option value="Chennai">Chennai</option>
                                                </select>
    
                                                <div *ngIf="destinationAirport.invalid">
                                                    <span style="color: red;margin-left: 26px"
                                                        *ngIf="destinationAirport.errors?.['required']">
    
                                                        Destination Airport is required Field
                                                    </span>
                                                    <span style="color: red;margin-left: 26px"
                                                        *ngIf="destinationAirport.errors?.['pattern']">
                                                        Destination Airport is not valid
                                                    </span>
    
                                                </div>
                                            </td>
                                        </div>
                                    </tr>
                                </table>
    
                                <br />
    
                                <br />
    
                                <button
                                    (click)="bookingDetails(name.value,dateOfBooking.value,sourceAirport.value,destinationAirport.value,timeOfBooking.value,arrivalTime.value)" >
    
                                    
                                    Book
    
                                </button>
    
                        </form>
    
                    </div>
                </table>
            </td>
    
        </tr>
    </table>
    