<div class="container mt-5">
    <div class="row">
      <div class="col">
        <h2 class="text-center"><i>Hello {{name}}</i></h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1 class="text-center text-danger"><b>Booking Done!</b></h1>
        <h2 class="text-center">Have a safe Journey</h2>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col">
        <div class="card">
          <h2 class="text-center mb-3"><u>Details-</u></h2>
            <div>
              <h3>Source Airport: {{sourceAirport}}</h3>
            </div>
              <div>
                <h3>Destination Airport: {{destinationAirport}}</h3>
              </div>
            <div>
              <h3>Flight On: {{arrivalTime}}   </h3>
            </div>
        </div>
      </div>
    </div>
  </div>
  