<div class="AboutUs">
    <td>
        <tr>Fly High is an app which allows user to book flight at reasonable rate with exciting discounts.</tr>
            <tr>It permits admin to view flight ,search flight according to destination airport, source name and carrier name.</tr>
            <tr> Fly High has a database of all flights  with its user-friendly interface that makes it easy to search and make flight booking.</tr>
     
        <tr><h3> Thanks for choosing Fly High </h3></tr>
    
        <tr>Have a safe journey!</tr> 
    </td>
</div>

